.tourny-users {
  cursor: pointer;
  list-style: none;
  padding: 5px;
  width: 50%;
}

.tourny-users:hover {
  background: lightgrey;
}

.selected-tourny-user {
  font-weight: bold;
}

.container {
  border: 1px solid red;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 205px);
  align-items: center;
}

.justify-space-around {
  display: grid;
  align-content: space-around;
  min-height: 100%;
}

.round {
  position: relative;
  max-width: 185px;
}

.match {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 80px;
  width: 180px;
  margin: 10px auto;
  background-color: white;
  border: 1px solid black;
}

.link {
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 100%;
  right: -10px;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  border-right: 1px solid red;
}

.link:after {
  content: '';
  position: absolute;
  top: calc(50% - 5px);
  left: 10px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid red;
}
